Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
WTForms
email-validator
python-dotenv
Werkzeug
psycopg2-binary
PyMySQL
pytest
Flask-SocketIO
Flask-Mail
reportlab
ursina
numpy
opencv-python
twilio
openpyxl
openai
