{% extends "modal_fragment_base.html" if request.headers.get('X-HRIS-Modal') == '1' else "modal_form_base.html" %}
{% from "_form_helpers.html" import render_field %}
{% set page_title = "Deduction" %}
{% set page_subtitle_text = "Add a recurring or effective-dated payroll deduction." %}
{% set cancel_url = url_for('payroll.index') %}
{% set modal_intro = "Capture deduction entries in the same modal format." %}
{% block modal_body %}
<div class="form-section"><form method="post">{{ form.hidden_tag() }}{{ render_field(form.employee_id) }}{{ render_field(form.deduction_type) }}<div class="row"><div class="col-md-6">{{ render_field(form.amount) }}</div><div class="col-md-6">{{ render_field(form.effective_date) }}</div></div>{{ form.submit(class="btn btn-primary") }} <a class="btn btn-light-secondary" href="{{ cancel_url }}">Cancel</a></form></div>
{% endblock %}
