{% extends "auth_base.html" %}
{% block title %}Change Password{% endblock %}
{% block auth_title %}Update your password{% endblock %}
{% block auth_subtitle %}Your account is protected. Set a new password before continuing to the HR dashboard.{% endblock %}
{% block auth_content %}
<form method="post">
  {{ form.hidden_tag() }}
  <div class="form-group position-relative has-icon-left mb-4">
    {{ form.current_password(class="form-control form-control-xl", placeholder="Current password") }}
    <div class="form-control-icon">
      <i class="bi bi-lock"></i>
    </div>
  </div>
  <div class="form-group position-relative has-icon-left mb-4">
    {{ form.new_password(class="form-control form-control-xl", placeholder="New password") }}
    <div class="form-control-icon">
      <i class="bi bi-key"></i>
    </div>
  </div>
  <div class="form-group position-relative has-icon-left mb-4">
    {{ form.confirm_password(class="form-control form-control-xl", placeholder="Confirm new password") }}
    <div class="form-control-icon">
      <i class="bi bi-shield-check"></i>
    </div>
  </div>
  {{ form.submit(class="btn btn-primary btn-block btn-lg shadow-lg mt-4") }}
</form>
{% endblock %}
